/**
 * Styles pour les sprites du pack d'icônes famfamfam.
 *
 * @author Savageman <savageman@zcorrecteurs.fr>
 */
img.fff { background: url(../img/sprite-famfamfam.png) no-repeat top left; width:16px; height:16px;}
img.fff.accept { background-position: 0 0; }
img.fff.add { background-position: 0 -17px; }
img.fff.anchor { background-position: 0 -34px; }
img.fff.arrow_divide { background-position: 0 -51px; }
img.fff.arrow_down { background-position: 0 -68px; }
img.fff.arrow_in { background-position: 0 -85px; }
img.fff.arrow_merge { background-position: 0 -102px; }
img.fff.arrow_more { background-position: 0 -119px; }
img.fff.arrow_refresh { background-position: 0 -136px; }
img.fff.arrow_rotate_clockwise { background-position: 0 -153px; }
img.fff.arrow_up { background-position: 0 -170px; }
img.fff.asterisk_orange { background-position: 0 -187px; }
img.fff.attach { background-position: 0 -204px; }
img.fff.award_star_gold_1 { background-position: 0 -221px; }
img.fff.basket_go { background-position: 0 -238px; }
img.fff.bin { background-position: 0 -255px; }
img.fff.book { background-position: 0 -272px; }
img.fff.book_go { background-position: 0 -289px; }
img.fff.book_open { background-position: 0 -306px; }
img.fff.brick { background-position: 0 -323px; }
img.fff.bricks { background-position: 0 -340px; }
img.fff.bug { background-position: 0 -357px; }
img.fff.bullet_arrow_down { background-position: 0 -374px; }
img.fff.bullet_go { background-position: 0 -391px; }
img.fff.calendar { background-position: 0 -408px; }
img.fff.calendar_view_day { background-position: 0 -425px; }
img.fff.camera_nice { background-position: 0 -442px; }
img.fff.camera_nice_green { background-position: 0 -459px; }
img.fff.camera_nice_red { background-position: 0 -476px; }
img.fff.cancel { background-position: 0 -493px; }
img.fff.chart_bar { background-position: 0 -510px; }
img.fff.chart_curve { background-position: 0 -527px; }
img.fff.clock { background-position: 0 -544px; }
img.fff.cog { background-position: 0 -561px; }
img.fff.coins { background-position: 0 -578px; }
img.fff.comment { background-position: 0 -595px; }
img.fff.comment_add { background-position: 0 -612px; }
img.fff.comments { background-position: 0 -629px; }
img.fff.comments_add { background-position: 0 -646px; }
img.fff.cross { background-position: 0 -663px; }
img.fff.cup { background-position: 0 -680px; }
img.fff.cursor { background-position: 0 -697px; }
img.fff.database { background-position: 0 -714px; }
img.fff.database_key { background-position: 0 -731px; }
img.fff.delete { background-position: 0 -748px; }
img.fff.disk { background-position: 0 -765px; }
img.fff.door_in { background-position: 0 -782px; }
img.fff.drink { background-position: 0 -799px; }
img.fff.drive_key { background-position: 0 -816px; }
img.fff.email { background-position: 0 -833px; }
img.fff.email_edit { background-position: 0 -850px; }
img.fff.email_open { background-position: 0 -867px; }
img.fff.error { background-position: 0 -884px; }
img.fff.error_cross { background-position: 0 -901px; }
img.fff.feed { background-position: 0 -918px; }
img.fff.flag_blue { background-position: 0 -935px; }
img.fff.flag_green { background-position: 0 -952px; }
img.fff.flag_red { background-position: 0 -969px; }
img.fff.flag_yellow { background-position: 0 -986px; }
img.fff.folder_go { background-position: 0 -1003px; }
img.fff.folder_key { background-position: 0 -1020px; }
img.fff.forbidden { background-position: 0 -1037px; }
img.fff.group { background-position: 0 -1054px; }
img.fff.heart { background-position: 0 -1071px; }
img.fff.house { background-position: 0 -1088px; }
img.fff.image { background-position: 0 -1105px; }
img.fff.information { background-position: 0 -1122px; }
img.fff.key { background-position: 0 -1139px; }
img.fff.keyboard { background-position: 0 -1156px; }
img.fff.layers { background-position: 0 -1173px; }
img.fff.lightbulb { background-position: 0 -1190px; }
img.fff.lightbulb_add { background-position: 0 -1207px; }
img.fff.lightbulb_off { background-position: 0 -1224px; }
img.fff.lightbulb_off_add { background-position: 0 -1241px; }
img.fff.lock { background-position: 0 -1258px; }
img.fff.lock_open { background-position: 0 -1275px; }
img.fff.logo { background-position: 0 -1292px; }
img.fff.monitor_add { background-position: 0 -1309px; }
img.fff.monitor_delete { background-position: 0 -1326px; }
img.fff.note { background-position: 0 -1343px; }
img.fff.note_go { background-position: 0 -1360px; }
img.fff.package { background-position: 0 -1377px; }
img.fff.page_white_acrobat { background-position: 0 -1394px; }
img.fff.page_white_text { background-position: 0 -1411px; }
img.fff.pencil { background-position: 0 -1428px; }
img.fff.pencil_green { background-position: 0 -1445px; }
img.fff.photo { background-position: 0 -1462px; }
img.fff.photo_add { background-position: 0 -1479px; }
img.fff.picture { background-position: 0 -1496px; }
img.fff.picture_go { background-position: 0 -1513px; }
img.fff.plugin_add { background-position: 0 -1530px; }
img.fff.plugin_delete { background-position: 0 -1547px; }
img.fff.report_edit { background-position: 0 -1564px; }
img.fff.star { background-position: 0 -1581px; }
img.fff.status_offline { background-position: 0 -1598px; }
img.fff.status_online { background-position: 0 -1615px; }
img.fff.table { background-position: 0 -1632px; }
img.fff.table_edit { background-position: 0 -1649px; }
img.fff.table_key { background-position: 0 -1666px; }
img.fff.tag_blue { background-position: 0 -1683px; }
img.fff.text_replace { background-position: 0 -1700px; }
img.fff.text_signature { background-position: 0 -1717px; }
img.fff.textfield_rename { background-position: 0 -1734px; }
img.fff.tick { background-position: 0 -1751px; }
img.fff.time { background-position: 0 -1768px; }
img.fff.time_add { background-position: 0 -1785px; }
img.fff.user { background-position: 0 -1802px; }
img.fff.user_add { background-position: 0 -1819px; }
img.fff.user_delete { background-position: 0 -1836px; }
img.fff.user_edit { background-position: 0 -1853px; }
img.fff.user_go { background-position: 0 -1870px; }
img.fff.wand { background-position: 0 -1887px; }
img.fff.world { background-position: 0 -1904px; }
img.fff.world_go { background-position: 0 -1921px; }
img.fff.wrench { background-position: 0 -1938px; }
img.fff.wrench_orange { background-position: 0 -1955px; }
img.fff.zoom { background-position: 0 -1972px; }
