/**
* Message table style (forum, ...)
*/

/**
* Tableaux listant les catÃ©gories (forum notamment).
*/
.liste_cat {
	border: 1px solid #d6d6d6;
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 10px;
	width: 99%;
}

.liste_cat th {
	height: 22px;
	background-color: #4fd5fa;
	background-image: url('../img/header_tableaux.png');
	background-repeat: repeat-x;
	color: #fff;
	font-size: 12px;
}

.liste_cat tfoot td,.liste_cat thead td {
	padding: 2px;
	border: 1px solid #d6d6d6;
	background-color: #efefef;
}

.trash th {
	height: 22px;
	background-color: #b00;
	background-image: none;
	color: #fff;
	font-size: 12px;
}

.grosse_cat td {
	background-color: #ff75ea;
	color: #fff;
	padding-left: 5px;
}

.grosse_cat_trash td {
	background-color: #a00;
	color: #fff;
	padding-left: 5px;
}

.grosse_cat h2, .grosse_cat_trash h2 {
	padding: 0px;
	margin: 0px;
	border: none;
	font-size: 12px;
	font-style: normal;
}

.grosse_cat a {
	text-decoration: none;
	color: #fff;
	font-size: 11px;
}

.grosse_cat_trash a {
	text-decoration: none;
	color: #fff;
	font-size: 11px;
}

.grosse_cat_trash a:hover {
	text-decoration: none;
	color: #fff;
	font-size: 11px;
}

.grosse_cat a:hover {
	text-decoration: none;
	color: #fff;
	font-size: 11px;
}

.grosse_cat .nom_forum {
	letter-spacing: 2px;
}

.espace_postit td {
	height: 25px;
	background-color: #efefef;
	color: #333;
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	vertical-align: middle;
}

.espace_postit_trash td {
	height: 25px;
	background-color: #ffe8e8;
	color: #333;
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	vertical-align: middle;
}

.sous_cat .nom_forum {
	padding-left: 15px;
}

.sous_cat td {
	background-color: #efefef;
	color: #333;
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	vertical-align: middle;
	padding-left: 3px;
}

.sous_cat_trash td {
	background-color: #ffe8e8;
	color: #333;
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	vertical-align: middle;
	padding-left: 3px;
}

.sous_cat_selected td {
	background-color: #26c7f6;
	color: #000;
	border: 1px dotted #fff;
	vertical-align: middle;
	padding-left: 3px;
}

#content .sous_cat h3 {
	margin: 0;
	padding: 0;
	border-bottom: none;
	font-style: normal;
	color: inherit;
	font-size: 12px;
}

.sous_cat_selected td a {
	color: #000;
}

.sous_cat_over td {
	background-color: #b2eafa; /* f5e9e9 */
	color: #333;
	border: 1px dotted #fff;
	vertical-align: middle;
	padding-left: 3px;
}

.sous_cat a {
	text-decoration: none;
}

.sous_cat a:hover {
	text-decoration: none;
	color: #333;
}

.sous_cat .dernier_msg {
	border-right: 1px solid #d6d6d6;
}

.sous_cat .puce {
	border-left: 1px solid #d6d6d6;
}

.trash {
	height: 40px;
}

.nom_forum {
	font-size: 10px;
}

.nom_forum a {
	font-size: 12px;
}

.nom_forum a:hover {
	font-size: 12px;
	text-decoration: none;
}

/**
* Bas de tableaux avec rÃ©sumÃ©s, totaux, etc.
*/
.bas_tableau {
	background-color: #e6e6e6;
	border: 1px solid #d6d6d6;
	border-collapse: collapse;
}

.bas_tableau td {
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	vertical-align: middle;
	padding-left: 3px;
}

.message.bonne_reponse,.infos_membre.bonne_reponse {
	background-color: #cfe7d9;
}

.commandes_textuelles {
	float: right;
}

.icone_commande {
	width: 15px;
	height: 15px;
}

/**
* Tableau de listage des MP.
*/
table .mp_colonne_flag {
	width: 4%;
}

table .mp_colonne_page {
	width: 4%;
}

table .mp_colonne_participants {
	width: 33%;
}

table .mp_colonne_reponses {
	width: 4%;
}

table .mp_colonne_dernier_msg {
	width: 18%;
}

.mp_destinataires {
	width: 220px;
	height: 100px;
}

/**
* Style pour l'affichage d'un diff.
*/
table.diff {
	border-collapse: collapse;
	width: 98%;
}

table.diff tr {
	border: 1px solid #d6d6d6;
}

table.diff td {
	border: 1px solid #d6d6d6;
	padding: 2px;
}

table.diff td.statut {
	background-color: #efefef;
	vertical-align: middle;
	text-align: center;
	width: 5%;
}

table.diff thead th {
	text-align: center;
	background: #4fd5fa url('../img/header_tableaux.png') repeat-x;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
}

#content .ins, #content ins {
	background-color: #d6eed2;
	text-decoration: none;
	padding-left: 3px;
}
#content .del, #content del {
	background-color: #f9b9af;
	color: #ec5f54;
	padding-left: 3px;
}
#content ins, #content del {
	font-weight: bold;
}
