<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="fr" />
		<title>Accès interdit</title>
	</head>

	<body style="font-family: 'Lucida Sans Unicode', 'Trebuchet MS', Verdana, Geneva, Arial, Helvetica, sans-serif; background: #fff; font-size: 12px; padding: 0; margin: 0;">
		<div style="border-bottom: 5px solid #d6d6d6; background-color: #31CCF7;">
			<h1 style="margin-top: 0px; padding: 5px; padding-top: 8px; border-bottom: none; font-size: 22px; color: white; text-align: center;">
				Accès interdit
			</h1>
		</div>

		<div style="float: left;">
			<img style="margin-left: 10%; margin-top: 10px;" src="/img/lock_big.png" alt="" />
		</div>

		<p style="padding: 10px 0; margin-right: 10px; margin-left: 10px; width: 750px; margin: auto;">
			La page que vous cherchez ne vous est pas accessible car elle est
			protégée. Seules les personnes ayant les autorisations nécessaires
			peuvent y accéder. Si vous pensez que ce devrait être votre cas,
			passez par le module de gestion des anomalies ou bien
			<a href="/apropos/contact" style="color: #166070; text-decoration: none;">contactez 
			l'équipe</a>. Merci de votre compréhension.<br /><br />

			<em>L'équipe du site.</em>
		</p>

		<p style="text-align: center; font-weight: bold;">
			<a href="/" style="color: #166070; text-decoration: none;">
			    <strong>Retour à l'accueil</strong>
			</a> -
			<a href="#" style="color: #166070; text-decoration: none;" onclick="history.back(); return false;">
			    <strong>Retour à la page précédente</strong>
			</a>
		</p>
	</body>
</html>
