<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="fr" />
		<title>{% block title %}Erreur inconnue{% endblock %}</title>
	</head>

	<body style="font-family: 'Lucida Sans Unicode', 'Trebuchet MS', Verdana, Geneva, Arial, Helvetica, sans-serif; background: #fff; font-size: 12px; padding: 0; margin: 0;">
		<div style="border-bottom: 5px solid #d6d6d6; background-color: #31CCF7;">
			<h1 style="margin-top: 0px; padding: 5px; padding-top: 8px; border-bottom: none; font-size: 22px; color: white; text-align: center;">
				{{ block('title') }}
			</h1>
		</div>

		<p style="padding: 10px 0; margin-right: 10px; margin-left: 10px; width: 800px; margin: auto; text-align: justify;">
			{% block content %}Une erreur inconnue s'est produite.{% endblock %}
		</p>

		<div style="padding: 20px 0; margin-right: 10px; margin-left: 10px; text-align: center; font-weight: bold; width: 800px; margin: auto;">
			<form method="get" action="/recherche/">
				<input type="hidden" name="section" value="forum" />
				<input type="text" style="background-color: white; border: 1px solid #CCC; border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.0742188) 0px 1px 1px 0px inset; color: #555; font-size: 13px; height: 18px; line-height: 18px; width: 500px; padding: 4px;" placeholder="Rechercher sur le site…" />
			</form>
			<div style="margin-top: 10px;">
				<a href="/" style="color: #166070; text-decoration: none;" onclick="history.back(); return false;">
					&larr;
				    <strong>Retour à la page précédente</strong>
				</a>
			</div>
		</div>
		
		{% if app.environment == 'prod' %}
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-1725896-5']);
		  _gaq.push(['_setCookieTimeout', 259200]);
		  _gaq.push(['_setCustomVar', 1, 'erreur', '{% block marker %}unknown{% endblock %}', 3]);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
		  })();
		</script>
		{% endif %}
	</body>
</html>