# .gitignore de Symfony
app/phpunit.xml
web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor/
app/config/config_dev.yml
app/config/config_prod.yml

# Fichiers de configuration
app/config/constants.yml
app/config/parameters.yml

# Fichiers temporaires
web/compiled/*
data/store/*
data/index/*
web/ext/pack_design.tar.bz2

# Toutes les images uploadées
web/uploads/*
web/tutos/*
vendors/geoip/GeoLiteCity.dat
web/google*.html
web/LL_*.xml

# Fichiers de configuration des IDE
.project
nbproject/
.settings/*
.buildpath
.project
.directory
*.tmproj

# Fichiers spécifiques aux OS
.DS_Store
Thumbs.db
