/**
* Gold book style
*/

/**
* Formulaire d'envoi de message.
*/
#formulaire_livreor {
	width: 75%;
	margin: auto;
	padding: 5px;
	border: 2px solid #fff;
	background-color: #efefef;
}

#formulaire_livreor textarea {
	width: 95%;
	height: 100px;
}

/**
* Affichage des messages.
*/
.ensemble_blocs {
	border: 1px solid #d6d6d6;
	background-color: #efefef;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.bloc_msg {
	background-color: #efefef;
	min-height: 110px;
	overflow: hidden;
	padding: 8px;
}

.infos_msg {
	font-family: Arial, 'Times New Roman', Times, serif;
	font-size: 10px;
	margin-bottom: 0;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 8px;
	color: #333;
	height: 18px;
}

.avatar {
	float: left;
	margin: 5px;
	border: 3px solid #efefef;
	padding: 1px;
}

.avatar:hover {
	float: left;
	margin: 5px;
	border: 3px solid #d6d6d6;
	padding: 1px;
}

.message_info {
	text-align: center;
}

.msg_moderation {
	float: right;
}

.pagination_livreor {
	text-align: center;
}

.page_on {
	color: red;
}

/**
* Étoiles de notation
*/
.star-rating {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 150px;
	height: 30px;
	position: relative;
	background: url('../img/star_rating.gif') top left repeat-x;
}

.star-rating li {
	padding: 0;
	margin: 0;
	text-indent: -9000px;
	/* height: 30px;
	width: 30px; */
	float: left;
}

.star-rating li a {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	z-index: 20;
	position: absolute;
	padding: 0;
	overflow: hidden;
	outline: 0!important;
}

.star-rating li a:hover {
	background: url('../img/star_rating.gif') left center;
	z-index: 2;
	left: 0;
	border: none;
}

.star-rating a.one-star {
	left: 0;
}

.star-rating a.one-star:hover {
	width: 30px;
}

.star-rating a.two-stars {
	left: 30px;
}

.star-rating a.two-stars:hover {
	width: 60px;
}

.star-rating a.three-stars {
	left: 60px;
}

.star-rating a.three-stars:hover {
	width: 90px;
}

.star-rating a.four-stars {
	left: 90px;
}

.star-rating a.four-stars:hover {
	width: 120px;
}

.star-rating a.five-stars {
	left: 120px;
}

.star-rating a.five-stars:hover {
	width: 150px;
}

.star-rating li.current-rating {
	background: url('../img/star_rating.gif') left bottom;
	position: absolute;
	height: 30px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}

.star-rating a:focus {
	background-image: none!important;
}

.star-centre {
	margin-left: auto;
	margin-right: auto;
}

/* Retire l'effet de halo sous Firefox. */
a:active {
	outline: none;
}
