<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="fr" />
		<link rel="stylesheet" href="/css/stylesheets/global.css" media="screen" title="Style par défaut" type="text/css" />
		<title>Site indisponible</title>
	</head>

	<body style="font-family: 'Lucida Sans Unicode', 'Trebuchet MS', Verdana, Geneva, Arial, Helvetica, sans-serif; background: #fff; font-size: 12px; padding: 0; margin: 0;">
		<div style="border-bottom: 5px solid #d6d6d6; background-color: #31CCF7;">
			<h1 style="padding: 5px; padding-top: 8px; border-bottom: none; font-size: 22px; color: white; text-align: center;">
				Base de données indisponible
			</h1>
		</div>

		<p style="padding: 10px 0; margin-right: 10px; margin-left: 10px; width: 750px; margin: auto;">
			La base de données est actuellement indisponible. Les
			administrateurs ont été prévenus et vont faire tout leur possible
			pour rendre le site à nouveau disponible le plus rapidement
			possible.<br />
			Merci de votre compréhension.<br /><br />
			<em>L'équipe du site.</em>
		</p>
	</body>
</html>