parameters:
    test.client.class: Zco\Bundle\CoreBundle\Client

services:
    zco_core.registry:
        class:     Zco\Bundle\CoreBundle\Registry
        arguments: [@zco_core.cache, %database.prefix%]

    zco_core.form.type.zform:
        class: Zco\Bundle\CoreBundle\Form\Type\ZformType
        tags:
            - { name: form.type, alias: zform }
    
    zco_core.swiftmailer.mandrill_transport:
        class: Zco\Bundle\CoreBundle\Swiftmailer\MandrillTransport
        arguments: [@swiftmailer.transport.eventdispatcher, %zco_core.mandrill.api_key%, %zco_core.mandrill.track_clicks%, %zco_core.mandrill.track_opens%, %zco_core.mandrill.tags%]